body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-window {
  max-width: 600px;
  width: calc(100% - 40px);
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.modal-label {
  color: #c4c4c4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  display: flex;
  margin-left: 25px;
}
.modal-span {
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 2px 8px 15px 0px rgba(201, 201, 201, 0.1);
  padding: 8.5px 20px 8.5px 25px;
}
.modal-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-menu-main {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.fast-option-custom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controls-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.controls-container-inputs {
  display: flex;
  gap: 40px;
}
.control-input-search {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  width: 186px;
}
.control-input-search::placeholder {
  color: hsl(0, 0%, 20%);
}
.control-input-search:focus-visible {
  outline: none;
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}
.control-button {
  border-radius: 7px;
  background: #434c63;
  height: 38px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 20px;
  border: none;
  cursor: pointer;
}
.control-button:not([disabled]):hover {
  background: #353f57;
  box-shadow: 0px 0px 20px 0px #232c41 inset;
}
.controls-button {
  display: flex;
  align-items: center;
  gap: 40px;
}
.control-select {
  width: 100%;
  max-width: 250px;
}
.semester-date {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
}
.check-label {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.block-edit-add {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.block-check-close {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.btn-add,
.btn-update {
  border-radius: 7px;
  background: #434c63;
  height: 38px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}
.btn-add:hover,
.btn-update:hover,
.btn-close:hover {
  background: #353f57;
  box-shadow: 0px 0px 20px 0px #232c41 inset;
  transition: 0.5s;
}
.btn-close {
  border-radius: 7px;
  border: 1px solid #ebebeb;
  height: 38px;
  width: 38px;
  background: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
.svg-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross {
  stroke: #434c63;
  transition: 0.5s;
}
.btn-close:hover .cross {
  stroke: #ffffff;
  transition: 0.5s;
}
.full-time-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
  width: 100%;
}
.correspondence-time-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 250px;
  width: 100%;
}
.excels-div {
  display: flex;
  justify-content: space-evenly;
}
.vertical-line {
  border-right: 2px #ebebeb solid;
}
.excel-dates {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.excel-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.excelTitle {
  color: #c4c4c4;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.hide-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hide-group-div {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.control-button:disabled {
  background-color: #ebebeb;
  color: darkgray;
}
.all-hide-groups {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  overflow-x: auto;
  padding: 10px;
}
.hide-group-item {
  font-size: 20px;
  border-bottom: 1px solid #ebebeb;
}
.hidden-groups {
  color: hsl(0, 0%, 50%);
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.modal-div-error {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s all linear;
  opacity: 0;
}

.modal-label-error {
  color: #ff8484;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  display: flex;
}

.modal-container-div {
  display: flex;
  justify-content: space-between;
}

.opacity1 {
  opacity: 1;
}

.green-border {
  border-color: rgb(3, 255, 3) !important;
  /* color: green; */
}
.unset-border {
  border-color: unset !important;
}
